::root{
// domo colors ranges are listed from light to dark
	// blues
	color: #d9ebfd; // background
	color: #b7daf5;
	color: #99ccee; // Domo Blue
	color: #73b0d7;
	color: #4e8cba;
	color: #31689b; // text
	// greens
	color: #ddf4ba;
	color: #bbe491;
	color: #a0d771;
	color: #80c25d;
	color: #559e38;
	color: #387b26;
	// orange
	color: #fdecad;
	color: #fccf84;
	color: #fbad56;
	color: #fb8d34;
	color: #e45621;
	color: #a43724;
	// purple
	color: #f3e4fe;
	color: #ddc8ef;
	color: #b391ca;
	color: #8f6dc0;
	color: #7940a1;
	// teal
	color: #d8f4de;
	color: #abe4ca;
	color: #8dd5be;
	color: #68bea8;
	color: #46998a;
	color: #227872;
	// pinks
	color: #fcd7e6;
	color: #fbb6dd;
	color: #f395cd;
	color: #ee76bf;
	color: #cf51ac;
	color: #a62a92;
	// reds
	color: #fddddd;
	color: #fcbcb7;
	color: #fd9a93;
	color: #fd7f76;
	color: #e45850;
	color: #c92e25;
	// gray to black
	color: #818d8f;
	color: #54585a;
	color: #2f3132;
	// gray scale
	color: #f1f2f2; // background
	color: #e4e5e5;
	color: #d7d8d8;
	color: #cacbcc;
	color: #b0b1b2;
	color: #387b26;
	color: #a2a5a6;
	color: #959899;
	color: #a62a92;
	color: #888b8c;
	color: #7b7e80;
	color: #6e7173;
	color: #616466;
	color: #54585a; // text
};

@font-face {
    font-family: OpenSans;
    src: url(/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(/fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: OpenSans-Bolder;
    src: url(/fonts/OpenSans-ExtraBold.ttf);
    font-weight: bolder;
}

html{
	/* Firefox */
	height: -moz-calc(100% - 40px);
	/* WebKit */
	height: -webkit-calc(100% - 40px);
	/* Opera */
	height: -o-calc(100% - 40px);
	/* Standard */
	height: calc(100% - 40px);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: OpenSans;
    background-color: #99ccee;
    overflow: hidden;
}

div {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

#page {
	height: 100%;
	width: 100%;
}

#header {
	height: 50px;
	width: calc(100% - 30px);
}

.domoFont {
    font-family: OpenSans-Bold;
    color: #f1f2f2;
    font-weight: 700;
    letter-spacing: -2;
    font-size: 35px;
    text-shadow: 3px 5px #31689b;
    text-align: right;
    line-height: 50px;
    padding-right: 30px;
}

#content {
    position: absolute;
    top: 50px;
    width: 100%;
	/* Firefox */
	height: -moz-calc(100% - 80px);
	/* WebKit */
	height: -webkit-calc(100% - 80px);
	/* Opera */
	height: -o-calc(100% - 80px);
	/* Standard */
	height: calc(100% - 80px);
}

#footer {
    position: absolute;
    font-size: 16px;
    line-height: 22px;
    height: 24px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    text-align: right;
    color: #f1f2f2;
    padding-right: 10px;
    background-color: #2f3132;
}

.wideFooter{
    position: absolute;
    font-size: 16px;
    line-height: 22px;
    height: 24px !important;
    bottom: 24px !important;
    right: 0px;
    width: 100%;
    text-align: right;
    color: #f1f2f2;
    padding-right: 10px;
//    background-color: #2f3132;
    background-color: red !important;
}

.sectionHW {
//    width: 100%;
	/* Firefox */
	height: -moz-calc(50% - 50px);
	/* WebKit */
	height: -webkit-calc(50% - 50px);
	/* Opera */
	height: -o-calc(50% - 50px);
	/* Standard */
	height: calc(50% - 50px);
}

#fire {
	z-index: -5;
	width: 100%;
	z-index: -5;
	width: 100%;
	background-color: #f1f2f2;	
}

#fireText, #nextText {
	color: #f1f2f2;
	text-shadow: 1px 1px #2f3132;
	background-color: #31689b;
}

#next {
	z-index: -5;
	width: 100%;
	background-color: #f1f2f2;
}

#fireData, #nextData {
//	width: 100%;
	overflow: auto;
	/* Firefox */
	height: -moz-calc(50% - 50px);
	/* WebKit */
	height: -webkit-calc(50% - 50px);
	/* Opera */
	height: -o-calc(50% - 50px);
	/* Standard */
	height: calc(50% - 50px);
}

.tBorder {
    border-bottom: 1px #2f3132 solid;
}

.right {float: right;}

.red {text-shadow: 1px 1px #c92e25;}
.redText {color: #c92e25;}

.rFire {
	background-image: url("/images/test/fire1.png");
    background-repeat: repeat-x;
	background-size: 100px 40px;
	background-position: bottom;
	z-index: -5;
}
.green {text-shadow: 1px 1px #387b26;}

.gRock {
	background-image: url("/images/rocks3.png");
    background-repeat: repeat-x;
	background-size: 100px 20px;
	background-position: bottom;
}

.smallFont {font-size: smaller;}

.sTitles {
	background-color: #31689b;
	font-family: OpenSans-Bold;
}

.fRow {
	width: 100%;
	background-color: #f1f2f2;
	display: inline-block;
}

.fRowE {
	width: 100%;
	background-color: #b0b1b2;
	color: #000;
	display: inline-block;
//	padding-left: 10px;
//	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.tasks {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	/* Firefox */
	width: -moz-calc(30% - 20px);
	/* WebKit */
	width: -webkit-calc(30% - 20px);
	/* Opera */
	width: -o-calc(30% - 20px);
	/* Standard */
	width: calc(30% - 20px);
}

.notes {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	/* Firefox */
	width: -moz-calc(69% - 20px);
	/* WebKit */
	width: -webkit-calc(69% - 20px);
	/* Opera */
	width: -o-calc(69% - 20px);
	/* Standard */
	width: calc(69% - 20px);
}

/* Traditional clearfix */
.clearfix:after {
//    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* Custom CSS for the page layout */
.columns .column1 {float: left;}
.columns .column2 {float: left;}

.title {
    text-align: center;
	color: #f1f2f2;
	font-family: OpenSans-Bold;
	background-color: #2f3132;
    font-size: 18px;
    line-height: 24px;
}

.titleBG{
	background-color: #31689b;
}

#sectionTitle {
	background-color: #31689b;	
}

.noTitle {
	width: 100%;
//	display: inline-block;
	background-color: #f1f2f2;
}
.noData{
	width: 100%;
	text-align: center;
    font-family: OpenSans-Bold;
    color: #31689b;
    font-weight: 700;
    letter-spacing: -2;
    font-size: 35px;
    line-height: 200px;
}
