@font-face {
    font-family: OpenSans;
    src: url(/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(/fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: OpenSans;
    src: url(/fonts/OpenSans-ExtraBold.ttf);
    font-weight: bolder;
}

body {
    margin: 0px;
    padding: 0px;
//  background-color: #99ccee;
}

div {
  margin: 0px;
  padding: 0px;
}

table {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}
thead, th, tr, td, tbody {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.clear {
  clear: both;			
}

#page {
	height: 100%;
	width: 100%;
}

#header {
    position: absolute;
    width: 1165px;
    height: 100px;
    z-index: 600;
}

#header2 {
    position: absolute;
    width: 1165px;
    height: 100px;
    z-index: 5;
}

.header {
    z-index: 100;
    padding-right: 35px;
    float: right;
}

.header2 {
    z-index: 1;
    padding-right: 28px;
    padding-top: 7px;
    float: right;
}

.domoFont {
    font-family: OpenSans;
    font-size: 90px;
    font-weight: 700;
    letter-spacing: -16;
    line-height: 90px;
}

#nav {
    position: absolute;
    top: 85px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 80;
}

#navItem {
//    padding-top: 15px;
}

#content {
    position: absolute;
    top: 135px;
	height: 530px;
    width: 1165px;
    overflow: hidden;
//    background-color: red;
}

#footer {
    position: absolute;
    bottom: 0px;
    height: 20px;
    width: 100%;
//    background-color: black;
}

.tableHeader {
    font-size: bigger;
    font-weight: bolder;
}

.tableRows {
    
}

#fire {
    height: 540px;
    width: 1165px;
//    background-color: gray;
//    overflow-x: auto;
    overflow: hidden;
}

#fireText {
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	color: #000;
    overflow: auto;
//    height: 472px;
//    width: 1155px;
    height: 87.4%;
    width: 99.2%;
//    background-color: yellow;
}

.pTop {padding-top: 15px;}


.title {
    padding-top: 10px;
    padding-bottom: 9px;
    text-align: center;
	color: #000;
	font-weight: bold;
    border-bottom: 1px solid black;
//    background-color: green;
}
.infoTitle {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #000;
    font-weight: bold;
    background-color: green;
}

/* Field Widths */
.wsquad {width: 120px;}
.wstatus {width: 120px}
.wjira {width: 100px;}
.wsummary {width: 175px;}
.wnotes {width: 175px;}
.wreason {width: 175px;}
.wsprint {width: 120px;}
.wtest {width: 375px;}

/* Colors */
.domoBlue {color: #99ccee;}
.domoBlueBG {background-color: #99ccee;}
.darkBlue {color: #707F8A;}
.darkBlueBG {background-color: #707F8A;}
.white {color: #fff;}
.whiteBG {background-color: #fff;}
.red {text-shadow: 0.5px 0px red;}
.green {text-shadow: 0.5px 0px green;}
.oddRow {background-color: lightgrey;}
