@font-face {
    font-family: OpenSans;
    src: url(/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(/fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: OpenSans-Bolder;
    src: url(/fonts/OpenSans-ExtraBold.ttf);
    font-weight: bolder;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: OpenSans;
    background-color: #99ccee;
//    overflow: hidden;
}

div {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

#page {
	height: 100%;
	width: 100%;
}

#header {
	height: 50px;
	width: calc(100% - 30px);
}

.domoFont {
    font-family: OpenSans-Bold;
    color: #fff;
    font-weight: 700;
    letter-spacing: -2;
    font-size: 35px;
    text-shadow: 3px 5px #000;
    text-align: right;
    line-height: 50px;
    padding-right: 30px;
}

#content {
    position: absolute;
    top: 50px;
    width: 100%;
//    overflow: hidden;
//	background-color: brown;
	/* Firefox */
	height: -moz-calc(100% - 80px);
	/* WebKit */
	height: -webkit-calc(100% - 80px);
	/* Opera */
	height: -o-calc(100% - 80px);
	/* Standard */
	height: calc(100% - 80px);
}

#footer {
    position: absolute;
    font-size: 16px;
    line-height: 22px;
    height: 24px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    text-align: right;
    color: #fff;
    padding-right: 10px;
    background-color: #000;
}

.sectionHW {
    width: 100%;
	/* Firefox */
	height: -moz-calc(50% - 50px);
	/* WebKit */
	height: -webkit-calc(50% - 50px);
	/* Opera */
	height: -o-calc(50% - 50px);
	/* Standard */
	height: calc(50% - 50px);
}

#fire {
	z-index: -5;
	width: 100%;
//	height: 50%;
//	background-color: green;
}

#fireText, #nextText {color: #fff; text-shadow: 1px 1px #000;}

#fireText{}

#next {
	z-index: -5;
	width: 100%;
//	height: 50%;
//	background-color: blue;
}

#nextData, #fireData {
	width: 100%;
//	height: 50%;
	overflow: auto;
	/* Firefox */
	height: -moz-calc(50% - 50px);
	/* WebKit */
	height: -webkit-calc(50% - 50px);
	/* Opera */
	height: -o-calc(50% - 50px);
	/* Standard */
	height: calc(50% - 50px);

}

.tBorder {
//    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.right {float: right;}
.red {text-shadow: 1px 1px red;}
.rFire {
	background-image: url("/images/small_fire.png");
    background-repeat: repeat-x;
	background-size: 100px 10px;
	background-position: bottom;
	z-index: -5;
}
.green {text-shadow: 1px 1px green;}
.gRock {
	background-image: url("/images/rocks3.png");
    background-repeat: repeat-x;
	background-size: 100px 20px;
	background-position: bottom;
}

.smallFont {font-size: smaller;}

.sTitles {
	background-color: #4A92C1;
	font-family: OpenSans-Bold;
}

.fRow {
	width: 98%;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.fRowE {
	width: 98%;
	background-color: lightgray;
	color: #000;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.tasks {
	width: 30%;
	float: left;
}

.notes {
	width: 69%;
	float: left;
	padding-left: 10px;
}

/* Traditional clearfix */
.clearfix:after {
//    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* Custom CSS for the page layout */
.columns .column1 {float: left;}
.columns .column2 {float: left;}

.title {
    text-align: center;
	color: #fff;
	font-family: OpenSans-Bold;
	background-color: #000;
    font-size: 18px;
    line-height: 24px;
}
